body {
	/*background-color: MintCream;*/
	background-image: url('../images/background.jpg');
}
.category img{
	width:252px;
	height:189px;
}
.carouselContainer{
	padding-bottom: 5%;
}
.carouselContainer img{
	width:700px;
	height:400px;
}
.title{
	color: white;
	font-family: "Chalkduster";
	text-align:center;
	font-size: 400%;
	padding-bottom: 3%;
}
.thumbnailHeader{
	text-align:center;
	font-family: "Noteworthy";
	font-style:bold;
	font-size:200%;
}

.sidebar{
	width: 300px;
	margin-left: auto;
}

.main-body{
	width: auto;
	margin-left: auto;
}