body {
	/*background-color: MintCream;*/
	background-image: /images/background.jpg;
}
.category img{
	width:252px;
	height:189px;
}
.carousel img{
	width:700px;
	height:400px;
}
.title{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align:center;
	font-size: 400%;
	padding-bottom: 3%;
}